node_modules
dist
*.log
*.lock
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
*.tsbuildinfo
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress
.serverless
.fusebox
.dynamodb
.turbo
generated
wrangler.toml